{% extends "library_manager/home.html" %}

{% block title_name %}List of {{ entity.title }}s{% endblock title_name %}



{% comment %} <div class='p-1 container d-flex flex-row bg-warning bg-opacity-50 shadow-lg border border-warning border-opacity-50 rounded-5'> {% endcomment %}
{% block result %}

<table class='table table-sm table-hover shadow'>
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>John</td>
      <td>Doe</td>
      <td>@social</td>
    </tr>
  </tbody>
</table>

{% endblock result %}